.App {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 22px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.instructions {
  margin-top: 1rem;
}
